@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');







*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}


.main-div{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(215, 232, 247);
}

#page1{
    width: 60%;
    height:max-content;
    margin-top: 10%;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 1rem;
    background-color:rgba(248, 241, 241, 0.4);
    box-shadow: 0 1rem 1rem -0.7rem rgba(75, 74, 74, 0.4);
  
}

.inst{
    margin: 1.5vw;
    margin-left: 0;
}

.defineq-box{
    margin-left: auto;
    height: 70%;

}
#myInput{
    height: 140%;
    font-size: 140%;
}
.procbtn{
    height: 140%;
    font-size: 140%;
    padding: 0.2vw ;
    border: none;
    background-color: rgba(8, 8, 209, 0.822);
    color: white;
    cursor: pointer;
}
.procbtn:hover{
    background-color: blue;
}

#page2{
    width: 60%;
    height:max-content;
    margin-top: 8%;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div li{
    font-size: 1.7vw;
    list-style: none;
}

.ques{
    border-bottom: 1px solid black;
    font-size: 1.8vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

.ans{
    margin-top: 1.5vw;
}

input{
    cursor: pointer;
}
.npbtn{ 
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: right;
    
}
.mybtn{
      margin: 0.5vw;
      height: 2.5vw;
      outline: none;
      font-size: 1.3vw;
      font-weight: 500;
      color: #fff;
      border: none;
      background-color: #74b9ff;
      padding: 0.2vw;
      border-radius: 8%;
}
.mybtn:hover{
    background-color: #0984e3;
}

.scoreArea{
    border: 1px solid black;
    width: 60%;
    height:max-content;
    background-color: #fff;
    padding: 3vw 3vw;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.sabtn{
    margin: 0.5vw;
    height: 2.5vw;
    outline: none;
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: #74b9ff;
    padding: 0.2vw;
    border-radius: 8%;
}
.sabtn:hover{
    background-color: #0984e3;
}

.font-small{
    margin-top: 7%;
}